moje/p/primes_desc.txt
moje/p/primes.txt
moje/p/primes1.txt
moje/p/primes2.txt
moje/p/primes3.txt
moje/p/primes4.txt
moje/p/primes5.txt
moje/p/primes6.txt
moje/p/primes7.txt
moje/p/primes8.txt
moje/p/primes9.txt
moje/p/primess.txt
moje/p/primesl.txt
geckodriver.log
*.bak
