{% extends "index.html" %}

{% block obsah %}


<table border="1" width="100%">
    <tr><th>ID</th><th>Login</th><th>Povolen</th><th>Změnit povolení</th><th>Smazat</th></tr>
    {% for udaj in udaje %}
        <tr>
            <td width="5%">
                {{udaj[0]}}
            </td>
            <td width="40%">
                {{udaj[1]}}
            </td>
            <td width="5%">
                {% if udaj[2]=="A" %}
                Ano
                {% else %}
                Ne
                {% endif %}
            </td>
            <td width="10%">
                <form action="{{ url_for("sprava") }}" method="POST">
                    <input type="hidden" name="ID" value={{udaj[0]}} readonly>
                    <input type="submit" name="akce" value=
                    {% if udaj[2]=="A" %}
                    "Zakázat"
                    {% else %}
                    "Povolit"
                    {% endif %}
                    style="width: 100%;">
                </form>
            </td>
            <td width="10%">
                <form action="{{ url_for("sprava") }}" method="POST">
                    <input type="hidden" name="ID" value={{udaj[0]}} readonly>
                    <input type="submit" name="akce" value="Delete" style="width: 100%;">
                </form>
            </td>

        </tr>
    {% endfor %}
</table>




{% endblock %}