{% extends "index.html" %}

{% block obsah %}

<h2>Ftípky</h2>

<div style="color: red">{{ zprava }}</div>
{% if session["uziv"] %}

<form action="{{ url_for("vtip_add") }}" method="GET"><input type="submit" value="!Přidat ftip!"></form>

{% for vtip in vtipy %}
<div>
    <h2>{{vtip[1]}}</h2>
    <p>
        {{vtip[2]}}
    </p>
    <!-- <p class="author">Author: {{vtip[3]}}</p> -->
    <p class="creation-date">Creation Date: {{vtip[4]}}</p>
</div>
{% endfor %}

{% else %}
<div style="color: red">Pro zobrazení ftipů se musíte přihlásit!</div>

{% endif %}
{% endblock %}