{% extends 'core/core.html' %}

{% block title %}HomeRainbow{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
                <p>{{ content }}</p>
                <p>{{ random_number }}</p>
                <p>{{ article }}</p>
                Pudl pudl pudl pudl pudl
                Pudl pudl pudl pudl pudl
                Pudl pudl pudl pudl pudl
                Pudl pudl pudl pudl pudl
                Pudl pudl pudl pudl pudl
                Pudl pudl pudl pudl pudl
            </div>
        </div>
    </div>
{% endblock %}

